/*
======================================================
======================================================

MAIN STYLESHEET FOR MATCHING

======================================================
======================================================
 */
/*
Core Stylesheet
 */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600&subset=vietnamese");
html, body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif; }

h1,
h2,
h3,
h4,
h5 {
  font-weight: 600; }

h6 {
  font-weight: 500; }

h1 {
  font-size: 6rem; }

h2 {
  font-size: 3.75rem; }

h3 {
  font-size: 3rem; }

h4 {
  font-size: 2.125rem; }

h5 {
  font-size: 1.5rem; }

h6 {
  font-size: 1.25rem; }
  h6.subtitle-md {
    font-size: 1rem; }
  h6.subtitle-sm {
    font-size: 0.875rem; }

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 400; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0; }

.text-wrapper {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical; }

@media (max-width: 767.98px) {
  h1 {
    font-size: 6rem; }

  h2 {
    font-size: 3.75rem; }

  h3 {
    font-size: 2rem; }

  h4 {
    font-size: 2.125rem; }

  h5 {
    font-size: 1.5rem; }

  h6 {
    font-size: 1.25rem; }
    h6.subtitle-md {
      font-size: 1rem; }
    h6.subtitle-sm {
      font-size: 0.875rem; }

  p {
    font-size: 1rem; } }
.btn {
  font-family: 'Montserrat', sans-serif; }
  .btn:focus {
    box-shadow: 0 0 0 0.2rem rgba(52, 149, 196, 0.25); }
  .btn:not(:disabled):not(.disabled):active {
    background-color: #72BCE0;
    border-color: #3495c4; }
  .btn.btn-primary {
    background-color: #3495c4;
    border-color: #72BCE0;
    color: #fff; }
    .btn.btn-primary:hover {
      color: #2477AD;
      background-color: #72BCE0; }
  .btn.btn-light {
    background-color: #fff;
    border-color: #fff;
    color: #3495c4; }
    .btn.btn-light:hover {
      background-color: #B9E1F4; }
  .btn.btn-outline-light:hover {
    color: #3495c4; }
  .btn.btn-link {
    color: #3495c4; }

.mask {
  overflow: hidden; }
  .mask img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

#homepage_landing header {
  width: 100%;
  height: 60px;
  padding: 0 30px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1030;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  #homepage_landing header .nav-logo img {
    height: 70px; }
  #homepage_landing header .nav-main ul {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0; }
    #homepage_landing header .nav-main ul li {
      display: inline-block; }
      #homepage_landing header .nav-main ul li a.btn.btn-default {
        color: #fff; }
#homepage_landing .cover-background {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center; }
  #homepage_landing .cover-background .wrapper {
    max-width: 40%;
    margin-left: 5%;
    padding: 30px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px; }
    #homepage_landing .cover-background .wrapper .content h6 {
      color: #E0E0E0;
      margin-bottom: 15px; }
    #homepage_landing .cover-background .wrapper .content h3 {
      color: #fff;
      margin-bottom: 30px; }
    #homepage_landing .cover-background .wrapper .content ul {
      padding-left: 0;
      list-style: none;
      margin-bottom: 0; }
      #homepage_landing .cover-background .wrapper .content ul li {
        display: inline-block; }
        #homepage_landing .cover-background .wrapper .content ul li a.btn.btn-default {
          color: #fff; }

@media (max-width: 768px) {
  #homepage_landing .cover-background .wrapper {
    max-width: 100%; } }
#member-register header, #member-login header {
  width: 100%;
  height: 100px;
  padding: 0 30px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1030;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  #member-register header .nav-logo img, #member-login header .nav-logo img {
    height: 60px; }
#member-register .cover-background, #member-login .cover-background {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative; }
  #member-register .cover-background .gradient, #member-login .cover-background .gradient {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: rgba(36, 118, 173, 0.65);
    background: -moz-linear-gradient(-45deg, rgba(36, 118, 173, 0.65) 0%, rgba(114, 187, 224, 0.65) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(36, 118, 173, 0.65)), color-stop(100%, rgba(114, 187, 224, 0.65)));
    background: -webkit-linear-gradient(-45deg, rgba(36, 118, 173, 0.65) 0%, rgba(114, 187, 224, 0.65) 100%);
    background: -o-linear-gradient(-45deg, rgba(36, 118, 173, 0.65) 0%, rgba(114, 187, 224, 0.65) 100%);
    background: -ms-linear-gradient(-45deg, rgba(36, 118, 173, 0.65) 0%, rgba(114, 187, 224, 0.65) 100%);
    background: linear-gradient(135deg, rgba(36, 118, 173, 0.65) 0%, rgba(114, 187, 224, 0.65) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2476ad', endColorstr='#72bbe0', GradientType=1 ); }
  #member-register .cover-background .content, #member-login .cover-background .content {
    width: 100%;
    height: 100%;
    padding: 0 30px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    #member-register .cover-background .content .left, #member-register .cover-background .content .right, #member-login .cover-background .content .left, #member-login .cover-background .content .right {
      width: 50%; }
    #member-register .cover-background .content .left, #member-login .cover-background .content .left {
      color: #fff; }
      #member-register .cover-background .content .left p, #member-login .cover-background .content .left p {
        margin-top: 30px; }
    #member-register .cover-background .content .right .wrapper, #member-login .cover-background .content .right .wrapper {
      width: 75%;
      padding: 30px;
      margin: 0 auto;
      background-color: #fff;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      -webkit-box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.5);
      box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.5); }
      #member-register .cover-background .content .right .wrapper form .form-group, #member-login .cover-background .content .right .wrapper form .form-group {
        margin-bottom: 7.5px; }
        #member-register .cover-background .content .right .wrapper form .form-group label, #member-login .cover-background .content .right .wrapper form .form-group label {
          font-size: 0.75rem; }
    #member-register .cover-background .content .right > p, #member-login .cover-background .content .right > p {
      width: 75%;
      margin: 15px auto 0;
      color: #fff; }

#welcome {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: rgba(36, 118, 173, 0.65);
  background: -moz-linear-gradient(-45deg, rgba(36, 118, 173, 0.65) 0%, rgba(114, 187, 224, 0.65) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(36, 118, 173, 0.65)), color-stop(100%, rgba(114, 187, 224, 0.65)));
  background: -webkit-linear-gradient(-45deg, rgba(36, 118, 173, 0.65) 0%, rgba(114, 187, 224, 0.65) 100%);
  background: -o-linear-gradient(-45deg, rgba(36, 118, 173, 0.65) 0%, rgba(114, 187, 224, 0.65) 100%);
  background: -ms-linear-gradient(-45deg, rgba(36, 118, 173, 0.65) 0%, rgba(114, 187, 224, 0.65) 100%);
  background: linear-gradient(135deg, rgba(36, 118, 173, 0.65) 0%, rgba(114, 187, 224, 0.65) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2476ad', endColorstr='#72bbe0', GradientType=1 ); }
  #welcome .wrapper {
    width: 75%;
    padding: 30px;
    background-color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.5);
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.5); }
    #welcome .wrapper h4 {
      color: #00A65A; }
    #welcome .wrapper h6 {
      color: #A3A3A3; }

/*# sourceMappingURL=style.css.map */
