
//Primary Color
$primary-lightest:                              #B9E1F4;
$primary-lighter:                               #72BCE0;
$primary-base:                                  #3495c4;
$primary-darker:                                #2477AD;
$primary-darkest:                               #175992;


//Secondary Color
$secondary-lightest:                            #FFF3D5;
$secondary-lighter:                             #FFD886;
$secondary-base:                                #F9BB3E;
$secondary-darker:                              #BF9024;
$secondary-darkest:                             #806211;

//Basic Success Color
$success-lightest:                              #CCF1DE;
$success-lighter:                               #66CF9C;
$success-base:                                  #00A65A;
$success-darker:                                #008644;
$success-darkest:                               #005F2E;


//Basic Warning Color
$warning-lightest:                              #FDF0CC;
$warning-lighter:                               #F3CE66;
$warning-base:                                  #E0A800;
$warning-darker:                                #B58400;
$warning-darkest:                               #805C00;

//Basic Danger Color
$danger-lightest:                               #F7D0D4;
$danger-lighter:                                #E37681;
$danger-base:                                   #C82333;
$danger-darker:                                 #9F111F;
$danger-darkest:                                #700510;

//Basic Link Color
$link-lightest:                                 #CCE5FF;
$link-lighter:                                  #66B1FF;
$link-base:                                     #007DFF;
$link-darker:                                   #005EBF;
$link-darkest:                                  #003E80;

//Basic Gray Color
$gray-lightest:                                 #E0E0E0;
$gray-lighter:                                  #A3A3A3;
$gray-base:                                     #666;
$gray-darker:                                   #4D4D4D;
$gray-darkest:                                  #333333;

//Default Border Color
$border-color-default:                          rgba(0,0,0,.05);

//Primary Border Color
$border-color-primary:                          rgba(59,192,195,.5);
