
$padding-base:                              15px;

$padding-half:                              $padding-base * 0.5;

$padding-double:                            $padding-base * 2;

$padding-triple:                            $padding-base * 3;