
$padding-base:                              15px;

$padding-small:                              5px;

$padding-half:                              7px;

$padding-double:                            30px;

$padding-triple:                            45px;