//Set Up z-index for Layouts

$z-index-option-dropdown:                       1060;

$z-index-header:                                1050;

$z-index-backdrop:                              1040;

$z-index-modal:                                 1030;

$z-index-content-class:                         1020;