#matching_create{
    .row{
        .left{
            .card{
                .card-body{
                    ul{
                        li{
                            h6{
                                &.subtitle-sm{
                                    margin-bottom: $padding-small;
                                }
                            }
                        }
                    }

                    .chart-area{
                        height: auto;
                    }
                }
            }
        }
    }
}

#matching{
    .row{
        .card {
            .card-body {
                .chart-area {
                    height: auto;
                }
            }
        }

        .left{
            @import "../components/tree_view";

            .tree-root{
                > ul{
                    > li{
                        color: $primary-base;
                        font-weight: 600;

                        ul{
                            li{
                                color: $gray-base;
                                font-weight: 400;
                            }
                        }
                    }
                }
            }

            .card{
                .card-body{
                    .chart-area{
                        form{
                            .row{
                                .form-group{
                                    > p{
                                        display: inline-block;

                                        color: $primary-base;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}