/*
======================================================
======================================================

MAIN STYLESHEET FOR MATCHING

======================================================
======================================================
 */
/*
Core Stylesheet
 */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600&subset=vietnamese");
html, body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 600;
}

h6 {
  font-weight: 500;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 3.75rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.125rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.25rem;
}
h6.subtitle-md {
  font-size: 1rem;
}
h6.subtitle-sm {
  font-size: 0.875rem;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
}

.text-wrapper {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

@media (max-width: 767.98px) {
  h1 {
    font-size: 6rem;
  }

  h2 {
    font-size: 3.75rem;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 2.125rem;
  }

  h5 {
    font-size: 1.5rem;
  }

  h6 {
    font-size: 1.25rem;
  }
  h6.subtitle-md {
    font-size: 1rem;
  }
  h6.subtitle-sm {
    font-size: 0.875rem;
  }

  p {
    font-size: 1rem;
  }
}
.btn {
  font-family: "Montserrat", sans-serif;
}
.btn:focus {
  box-shadow: 0 0 0 0.2rem rgba(52, 149, 196, 0.25);
}
.btn:not(:disabled):not(.disabled):active {
  background-color: #72BCE0;
  border-color: #3495c4;
}
.btn.btn-primary {
  background-color: #3495c4;
  border-color: #72BCE0;
  color: #fff;
}
.btn.btn-primary:hover {
  color: #2477AD;
  background-color: #72BCE0;
}
.btn.btn-light {
  background-color: #fff;
  border-color: #fff;
  color: #3495c4;
}
.btn.btn-light:hover {
  background-color: #B9E1F4;
}
.btn.btn-outline-light:hover {
  color: #3495c4;
}
.btn.btn-link {
  color: #3495c4;
}

.mask {
  overflow: hidden;
}
.mask img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mask.mask-circle {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.popup {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1030;
  display: none;
}
.popup.show {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.popup#companyInfo .popup-content {
  width: 90%;
  height: 90%;
  background-color: #fff;
  border: 1px solid #E0E0E0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.popup#companyInfo .popup-content .popup-header {
  width: 100%;
  height: 50px;
  padding: 0 0 0 15px;
  border-bottom: 1px solid #E0E0E0;
  background-color: #3495c4;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.popup#companyInfo .popup-content .popup-header h6 {
  color: #fff;
}
.popup#companyInfo .popup-content .popup-header h6 strong {
  font-size: 110%;
}
.popup#companyInfo .popup-content .popup-header button {
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  color: #fff;
}
.popup#companyInfo .popup-content .popup-header button:hover {
  background-color: #72BCE0;
}
.popup#companyInfo .popup-content .popup-body {
  height: calc(100% - 100px);
  border-bottom: 1px solid #E0E0E0;
}
.popup#companyInfo .popup-content .popup-body ul.nav .nav-item {
  flex-grow: 1;
  text-align: center;
}
.popup#companyInfo .popup-content .popup-body ul.nav .nav-item .nav-link {
  border: none;
  color: #666;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.popup#companyInfo .popup-content .popup-body ul.nav .nav-item .nav-link:hover {
  background-color: #E0E0E0;
}
.popup#companyInfo .popup-content .popup-body ul.nav .nav-item .nav-link.active {
  border: none;
  background-color: #72BCE0;
  color: #fff;
}
.popup#companyInfo .popup-content .popup-body ul.nav .nav-item .nav-link.active:hover {
  background-color: #72BCE0;
  color: #fff;
}
.popup#companyInfo .popup-content .popup-body .tab-content {
  height: calc(100% - 40px);
}
.popup#companyInfo .popup-content .popup-body .tab-content .tab-pane {
  height: 100%;
}
.popup#companyInfo .popup-content .popup-body .tab-content .tab-pane#infoTab .row {
  height: 100%;
}
.popup#companyInfo .popup-content .popup-body .tab-content .tab-pane#infoTab .row .left {
  height: 100%;
}
.popup#companyInfo .popup-content .popup-body .tab-content .tab-pane#infoTab .row .left .background {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.popup#companyInfo .popup-content .popup-body .tab-content .tab-pane#infoTab .row .left .background > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(5px);
  opacity: 0.5;
}
.popup#companyInfo .popup-content .popup-body .tab-content .tab-pane#infoTab .row .left .background .mask-wrapper {
  width: 150px;
  height: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.popup#companyInfo .popup-content .popup-body .tab-content .tab-pane#infoTab .row .left .background .mask {
  width: 100%;
  height: 100%;
  padding: 15px;
  background-color: #fff;
  border: 3px solid #00A65A;
}
.popup#companyInfo .popup-content .popup-body .tab-content .tab-pane#infoTab .row .right {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.popup#companyInfo .popup-content .popup-body .tab-content .tab-pane#infoTab .row .right .wrapper {
  width: 60%;
  text-align: center;
  margin-bottom: 15px;
}
.popup#companyInfo .popup-content .popup-body .tab-content .tab-pane#infoTab .row .right .wrapper label {
  font-size: 0.875rem;
  font-weight: 600;
}
.popup#companyInfo .popup-content .popup-body .tab-content .tab-pane.tab-text {
  overflow-y: auto;
  padding: 30px;
}
.popup#companyInfo .popup-content .popup-footer {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.popup#companyInfo .popup-content .popup-footer .btn {
  margin-right: 15px;
}
.popup#companyInfo .popup-content .popup-footer .btn:last-child {
  margin-right: 0;
}
.popup#matchingInfo button.popup-close {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 3px solid #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 1;
}
.popup#matchingInfo .popup-content {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.popup#matchingInfo .popup-content .item {
  width: 100%;
  height: 80%;
  flex-grow: 1;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #fff;
}
.popup#matchingInfo .popup-content .item .item-header {
  width: 100%;
  height: 50px;
  padding: 0 15px;
  display: flex;
  flex-direction: row;
  justify-content: normal;
  align-items: center;
  border-bottom: 1px solid #E0E0E0;
}
.popup#matchingInfo .popup-content .item .item-content {
  width: 100%;
  height: calc(100% - 50px);
}
.popup#matchingInfo .popup-content .item .item-content .tab-control {
  width: 100%;
  height: 30px;
  padding: 0 15px;
  margin: 5px 0 15px;
  display: flex;
  flex-direction: row;
  justify-content: normal;
  align-items: center;
}
.popup#matchingInfo .popup-content .item .item-content .tab-control a {
  width: 100%;
  height: 100%;
  flex-grow: 1;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  padding: 5px 7px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #666;
}
.popup#matchingInfo .popup-content .item .item-content .tab-control a.active {
  background-color: #3495c4;
  color: #fff;
}
.popup#matchingInfo .popup-content .item .item-content .tab-control a.active:hover {
  background-color: #3495c4;
  color: #fff;
}
.popup#matchingInfo .popup-content .item .item-content .tab-control a:hover {
  text-decoration: none;
  background-color: #E0E0E0;
}
.popup#matchingInfo .popup-content .item .item-content .tab-wrapper {
  width: 100%;
  height: calc(100% - 50px);
  overflow: hidden;
  position: relative;
}
.popup#matchingInfo .popup-content .item .item-content .tab-wrapper .tab-inner {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 15px 15px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.popup#matchingInfo .popup-content .item .item-content .tab-wrapper .tab-inner.show {
  z-index: 1;
}
.popup#matchingInfo .popup-content .item .item-content .tab-wrapper .tab-inner.tab-content-info .cover {
  width: 100%;
  height: 200px;
  margin-bottom: 15px;
  overflow: hidden;
  position: relative;
}
.popup#matchingInfo .popup-content .item .item-content .tab-wrapper .tab-inner.tab-content-info .cover > img {
  width: 100%;
  height: 100%;
  filter: blur(10px);
  opacity: 0.5;
  object-fit: cover;
}
.popup#matchingInfo .popup-content .item .item-content .tab-wrapper .tab-inner.tab-content-info .cover .mask {
  width: 100px;
  height: 100px;
  padding: 7px;
  background-color: #fff;
  border: 3px solid #00A65A;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.popup#matchingInfo .popup-content .item .item-content .tab-wrapper .tab-inner.tab-content-info .row .item {
  margin-bottom: 7px;
}
.popup#matchingInfo .popup-content .item .item-content .tab-wrapper .tab-inner.tab-content-info .row .item label {
  font-size: 0.875rem;
  font-weight: 600;
  margin-bottom: 0;
}
.popup#matchingInfo .popup-content .icon-connect {
  width: 50px;
  height: 50px;
  margin: 0 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.popup#matchingInfo .popup-content .icon-connect i {
  color: #fff;
}

#page-top #wrapper ul.navbar-nav {
  background-color: #3495c4;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #72BCE0), to(#3495c4));
  background-image: linear-gradient(180deg, #72BCE0 10%, #3495c4 100%);
}
#page-top #wrapper ul.navbar-nav.ml-auto {
  background-color: transparent;
  background-image: none;
}
#page-top #wrapper ul.navbar-nav.ml-auto li a img {
  border: 1px solid #E0E0E0;
}
#page-top #wrapper ul.navbar-nav li.nav-item .collapse a.collapse-item {
  white-space: normal;
}

a {
  color: #3495c4;
}
a:hover {
  color: #2477AD;
}

.table-responsive .table thead {
  background-color: #3495c4 !important;
  color: #fff;
}
.table-responsive .table tbody tr td i {
  color: #3495c4 !important;
}
.table-responsive .table tbody tr td i.fa-ban {
  color: #C82333 !important;
}

.text-primary {
  color: #3495c4 !important;
}

#login {
  width: 100%;
  height: 100vh;
  padding: 0;
}
#login .row {
  height: 100%;
}
#login .row.signin .left .background {
  background-image: url("https://images.unsplash.com/photo-1425421669292-0c3da3b8f529?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1649&q=80");
}
#login .row.signup .left .background {
  background-image: url("https://images.unsplash.com/photo-1507207611509-ec012433ff52?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
}
#login .row .left, #login .row .right {
  width: 50%;
  height: 100%;
}
#login .row .left .background, #login .row .right .background {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
#login .row .left {
  position: relative;
}
#login .row .left .logo {
  position: absolute;
  top: 30px;
  left: 30px;
}
#login .row .left .logo a img {
  width: 75px;
}
#login .row .left .text {
  width: 60%;
  position: absolute;
  bottom: 30px;
  left: 30px;
}
#login .row .left .text h3 {
  color: #fff;
  text-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}
#login .row .right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#login .row .right .content {
  max-width: 50%;
}
#login .row .right .content h6 {
  color: #A3A3A3;
  margin-bottom: 30px;
}
#login .row .right .content form .form-group.submit {
  margin-top: 30px;
}
#login .row .right .content form .form-group small {
  padding-top: 15px;
}
#login .row .right .content form .form-group small p {
  font-size: 0.75rem;
}

#dashboard-member .modal#workflowModal .modal-dialog .modal-content .modal-body {
  position: relative;
}
#dashboard-member .modal#workflowModal .modal-dialog .modal-content .modal-body button.close {
  width: 30px;
  height: 30px;
  background-color: #4D4D4D;
  color: #fff;
  border: 2px solid #A3A3A3;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  opacity: 1;
  -webkit-transform: translate(50%, -50%);
  -moz-transform: translate(50%, -50%);
  -ms-transform: translate(50%, -50%);
  -o-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
}
#dashboard-member .modal#workflowModal .modal-dialog .modal-content .modal-body p {
  margin-bottom: 15px;
}
#dashboard-member .modal#workflowModal .modal-dialog .modal-content .modal-body .buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: normal;
  align-items: center;
}
#dashboard-member .modal#workflowModal .modal-dialog .modal-content .modal-body .buttons .btn {
  width: 100%;
  flex-grow: 1;
  margin-right: 15px;
}
#dashboard-member .modal#workflowModal .modal-dialog .modal-content .modal-body .buttons .btn:last-of-type {
  margin-right: 0;
}
#dashboard-member .modal#workflowModal .modal-dialog .modal-content .modal-body #cancelReason {
  display: none;
}
#dashboard-member .modal#workflowModal .modal-dialog .modal-content .modal-body #cancelReason button {
  margin-top: 15px;
}

#matching_create .row .left .card .card-body ul li h6.subtitle-sm {
  margin-bottom: 5px;
}
#matching_create .row .left .card .card-body .chart-area {
  height: auto;
}

#matching .row .card .card-body .chart-area {
  height: auto;
}
#matching .row .left .card .card-body .chart-area form .row .form-group > p {
  display: inline-block;
  color: #3495c4;
}

#category .card .table-responsive tbody tr {
  background-color: #72BCE0;
  color: #fff;
}
#category .card .table-responsive tbody tr a i {
  color: #fff !important;
}
#category .card .table-responsive tbody tr.sub-item {
  background-color: #E0E0E0;
  color: #666;
}
#category .card .table-responsive tbody tr.sub-item a i {
  color: #666 !important;
}

#event_detail .card .card-body .chart-area {
  height: auto;
}

/*# sourceMappingURL=style.css.map */
